<div class="py-5">

  <div class="container">

    <div class="row d-flex justify-content-center text-center">
      <img src="./assets/media/{{ user_profile.image }}" style="width: 10vw; height: 9vw; object-fit: cover"
           class="rounded-circle" onerror="this.onerror=null; this.src='./assets/images/user2.png'">
      <h2 class="cover-heading pt-2">{{ user_profile.username | uppercase }}</h2>
      <p class="text-secondary cover-heading mb-5">{{ user_profile.email }}</p>
      <p class="lead">Followers {{ followers }} | Following {{ following }}</p>

      <!-- TODO: If user is authenticated -->
      <p class="lead" *ngIf="user_profile.email == current_user.email">
        <a href="/create/" class="btn btn-lg btn-primary mx-2">Create post</a>
        <a href="/profile/edit/" class="btn btn-lg btn-outline-primary mx-2">Edit profile</a>
      </p>

      <p class="lead" *ngIf="user_profile.email != current_user.email">
        <!-- TODO: Add Unfollow action -->
        <a class="btn btn-lg btn-primary">Unfollow</a>
      </p>

    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">

      <div *ngFor="let post of posts;">

        <div class="col py-4">
          <div class="card shadow-sm">

            <img src="./assets/media/{{ post.file }}" class="card-img-top" height="225"
                 style="object-fit: cover">
            <div class="card-body">

              <p class="card-text"> {{ post.description }}</p>

              <div class="d-flex justify-content-between align-items-center">

                <div class="btn-group">
                  <form action="/post_details/{{ post.post_id }}">

                    <button id="view-button" type="submit" class="btn btn-sm btn-primary">View
                    </button>
                  </form>

                  <!-- TODO: If user is authenticated -->
                  <button type="button" class="btn btn-sm btn-outline-primary"
                          data-toggle="modal">Comment
                  </button>

                  <div *ngIf="user_profile.email == current_user.email">
                    <button type="button" class="btn btn-sm btn-outline-secondary mx-2"
                            data-toggle="modal">
                      Delete
                    </button>
                  </div>

                </div>
                <small class="text-muted px-1"> {{ post.date | date: "short" }}</small>

              </div>
            </div>
          </div>
        </div>

        <!--<app-delete-modal #deleteModal [post]="post"></app-delete-modal>-->
        <!--<app-comment-modal #commentModal [post]="post" [user_profile]="user_profile"></app-comment-modal>-->

      </div>

    </div>

  </div>

</div>
