<div class="container-fluid">
  <div class="row d-flex justify-content-center pt-5 text-center">
    <div class="col-2">

      <img id="image-preview" src="./assets/images/free-love-message-icon-2946-thumb.png" class="rounded"
           style="max-height: 25vh"/>

      <form [formGroup]="pictureForm" (ngSubmit)="updateProfilePic()" enctype="multipart/form-data">

        <div class="form-group py-4">
          <h5>Profile picture</h5>

          <div class="custom-file pt-4">
            <input type="file" class="form-control" id="image" name="input_file" accept="image/*" (input)="updatePreview()"/>
          </div>

        </div>

        <div class="form-group pt-4">
          <input class="btn btn-primary" type="submit" value="Update picture">
        </div>
      </form>

    </div>

  </div>
</div>


