<div class="my-5">
    <div class="container">

        <h2 class="my-5 fw-bolder">Messages</h2>

        <div *ngIf="users.length == 0">
            <div class="container text-center my-5">
                <p class="fw-light">There are no messages to see.</p>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-sm-4 row-cols-md-6 g-3">
            <div *ngIf="users.length > 0">
                <div *ngFor="let friend of users">
                    <MessagesUserPanel [messagingFriend]="friend"></MessagesUserPanel>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="my-5">
    <div class="container p-5 rounded-3" style="background-color: rgba(0,149,255,0.3)">
        <h6>Want to message someone new?</h6>
        <h2 class="mb-5 fw-bolder">Your Friends</h2>

        <div class="row row-cols-1 row-cols-sm-4 row-cols-md-6 g-3" *ngIf="friends.length > 0">
            <MessagesUserPanel [messagingFriend]="friend" *ngFor="let friend of friends"></MessagesUserPanel>
        </div>
    </div>
</div>
