<div class="py-5">
    <div class="container">

        <h2 class="my-5 fw-bolder">Messages</h2>

        <div *ngIf="users.length == 0">
            <div class="container text-center">
                <p class="fw-light">There are no messages to see.</p>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-sm-4 row-cols-md-6 g-3">
            <div *ngIf="users.length > 0">
                <div *ngFor="let friend of users">
                    <MessagesUserPanel [messagingFriend]="friend"></MessagesUserPanel>
                </div>
            </div>
        </div>
    </div>
</div>

