<div class="my-5">

  <div class="container">

        <h2 class="fw-bolder my-5">Friends</h2>

        <div *ngIf="friends.length > 0; then showFriends else noFriends"></div>

        <ng-template #showFriends>
            <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 g-3" >
                <div class="col" *ngFor="let friend of friends">
                    <FriendPanel [friend]="friend"></FriendPanel>
                </div>
            </div>
        </ng-template>

        <ng-template #noFriends>
            <div class="container text-center mt-4">
                <p class="fw-light">You are not following anyone.</p>
            </div>
        </ng-template>

    </div>
</div>
