<div class="container mt-5">

    <div class="bg-dark rounded-3">

        <div class="row">

            <div class="col-9 mt-5 mb-5 d-flex justify-content-center">
                <img src="{{ post.file }}" class="rounded"
                     style="object-fit: contain; max-width: 95%; max-height: 250px;">
            </div>
            <div class="col-2">

                <div class="row mt-5 text-light">
                    <div class="col-4">
                        <img src="./assets/media/{{ post.user.image }}"
                             onerror="this.onerror=null;this.src='/static/imgs/user2.png';" class="rounded-circle"
                             style="object-fit: contain; max-height: 50px; max-width: 50px;">
                    </div>
                    <div class="col-7">
                        <p class="fw-bold" style="font-size: 1.2rem">{{ post.user.username }}</p>
                    </div>
                </div>

                <div class="row mt-4">
                    <p style="color: white; font-size: 0.9rem"> {{ post.description }}</p>
                </div>

            </div>

        </div>

    </div>

    <h5 class="mt-5 mb-4" style="color: black"> {{ comments.length }} comments:</h5>

    <div class="container" *ngIf="comments">
        <div *ngFor="let comment of comments">
            <CommentPanel [comment]="comment"></CommentPanel>
        </div>
    </div>

</div>
