<div id="comment_modal">

    <div class="row m-4" id="comment_modal_header">

        <div class="col-11">
            <h5 class="modal-title" id="exampleModalLongTitle">Comment</h5>
        </div>
        <div class="col-1">
            <button type="button" class="btn-close me-1" data-dismiss="modal"
                    aria-label="Close" (click)="closeModal()"></button>
        </div>

    </div>

    <div class="container">
        <div [hidden]="submitted" class="row mx-4">
            <p class="fw-bolder p-0 mb-2 mx-0">Add your comment</p>
            <input class="p-1 form-control" type="text" name="comment_content" [(ngModel)]="comment_content">
            <div class="offset-8 mt-3 mb-4">
                <button class="btn btn-primary" (click)="submitComment()" [hidden]="submitted">Save Comment</button>
            </div>
        </div>
        <p class="fs-6 fw-light text-center p-0" [class.my-5] = "submitted" [innerHTML]="statusMessage"></p>
    </div>

</div>
