<div class="py-5">
  <div class="container">
    <div class="row d-flex justify-content-center text-center">
        <img *ngIf="other_user.image !== '' && other_user.image !== null"
             src="{{ other_user.image }}" style="width: 10vw; height: 9vw; object-fit: cover" class="rounded-circle">
        <img *ngIf="other_user.image === '' || other_user.image === null"
             src='./assets/images/user2.png' style="width: 10vw; height: 9vw; object-fit: cover" class="rounded-circle">
      <h2 class="cover-heading pt-2">{{ other_user.username | uppercase }}</h2>
      <p class="text-secondary cover-heading mb-5">{{ other_user.user_email }}</p>
    </div>

    <div *ngIf="messages.length > 0">
      <div class="card py-4"
           style="background-image: url('./assets/images/abstract_polygons_wallpaper_by_cratemuncher-d6ys3ge.png'); background-repeat: no-repeat; background-size: cover; border: lightblue">
        <div class="row d-flex mx-4">
          <div *ngFor="let message of messages">
            <div *ngIf="session !== null && message.sender == session.email">
              <div class="row py-2 my-2 justify-content-end">
                <div class="col-3 my-auto py-3 rounded" style="background-color: rgba(0,48,106,0.48);">
                  <p class="card-text text-end" style="color: white">{{ message.content }}</p>
                </div>
                <div class="col-1">
                    <img *ngIf="current_user.image !== '' && current_user.image !== null"
                         src="./assets/media/{{ current_user.image }}" style="object-fit:cover; width: 70px; height: 70px;" class="rounded-circle">
                    <img *ngIf="current_user.image === '' || current_user.image === null"
                         src='./assets/images/user2.png' style="object-fit:cover; width: 70px; height: 70px;" class="rounded-circle">
                </div>
              </div>
            </div>

            <div *ngIf="session !== null && message.receiver == session.email">
              <div class="row py-2 my-2">
                <div class="col-1 ps-0 me-2">
                    <img *ngIf="current_user.image !== '' && current_user.image !== null"
                         src="./assets/media/{{ current_user.image }}" style="object-fit:cover; width: 70px; height: 70px;" class="rounded-circle">
                    <img *ngIf="current_user.image === '' || current_user.image === null"
                         src='./assets/images/user2.png' style="object-fit:cover; width: 70px; height: 70px;" class="rounded-circle">
                </div>
                <div class="col-3 my-auto py-3 rounded" style="background-color: rgba(0,48,106,0.48);">
                  <p class="card-text" style="color: white"> {{ message.content }}</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div *ngIf="messages.length == 0">
      <div class="text-center">
        <div class="card py-4" style="background-color: #84dbff; border: none">
          <h3>No messages</h3>
        </div>
      </div>
    </div>

    <div class="row pt-4">
      <form action="/messages/{{ other_user.username }}" method="POST">

        <div class="col-6 pt-4">
          <input name="messageInput" type="text" class="form-control" rows="4" [(ngModel)]="current_message">
        </div>

        <div class="form-group pt-4">
          <input type="hidden" name="other_user" value="{{ other_user.username }}">
          <input class="btn btn-primary" type="submit" value="Send" (click)="sendMessage()">
        </div>

      </form>
    </div>
  </div>
</div>
