<div class="py-5">
  <div class="container">
    <div class="row d-flex justify-content-center text-center">
      <img src="./assets/media/{{ other_user.image }}" style="width: 6vw; height: 6vw; object-fit: cover"
           class="rounded-circle" onerror="this.onerror=null; this.src='./assets/images/user2.png'">
      <h2 class="cover-heading pt-2">{{ other_user.username | uppercase }}</h2>
      <p class="text-secondary cover-heading mb-5">{{ other_user.email }}</p>
    </div>

    <div *ngIf="messages.length > 0">
      <div class="card py-4"
           style="background-image: url('./assets/images/abstract_polygons_wallpaper_by_cratemuncher-d6ys3ge.png'); background-repeat: no-repeat; background-size: cover; border: lightblue">
        <div class="row d-flex mx-4">
          <div *ngFor="let message of messages">
            <div *ngIf="message.sender.email == current_user.email">
              <div class="row py-2 my-2 justify-content-end">
                <div class="col-3 my-auto py-3 rounded" style="background-color: rgba(0,48,106,0.48);">
                  <p class="card-text text-end" style="color: white">{{ message.content }}</p>
                </div>
                <div class="col-1">
                  <img src="./assets/media/{{ message.sender.image }}" class="rounded-circle"
                       style="object-fit:cover; width: 70px; height: 70px;"
                       onerror="this.onerror=null;this.src='./assets/images/user2.png';">
                </div>
              </div>
            </div>

            <div *ngIf="message.receiver.email == current_user.email">
              <div class="row py-2 my-2">
                <div class="col-1">
                  <img src="./assets/media/{{ message.sender.image }}" class="rounded-circle"
                       style="object-fit:cover; width: 70px; height: 70px;"
                       onerror="this.onerror=null;this.src='./assets/images/user2.png';">
                </div>
                <div class="col-3 my-auto py-3 rounded" style="background-color: rgba(0,48,106,0.48);">
                  <p class="card-text" style="color: white"> {{ message.content }}</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div *ngIf="messages.length == 0">
      <div class="text-center">
        <div class="card py-4" style="background-color: #84dbff; border: none">
          <h3>No messages</h3>
        </div>
      </div>
    </div>

    <div class="row pt-4">
      <form action="/messages/{{ other_user.username }}" method="POST">

        <div class="col-6 pt-4">
          <input type="text" class="form-control" rows="4">
        </div>

        <div class="form-group pt-4">
          <input type="hidden" name="other_user" value="{{ other_user.username }}">
          <input class="btn btn-primary" type="submit" value="Send">
        </div>

      </form>
    </div>
  </div>
</div>
